:root {
  --font-size: 16px;
  /* Defina o tamanho de fonte padrão aqui */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  transition: all 0.03s ease-in-out;
}

body {
  font-family: var(--font-lato);
  font-size: var(--font-size);
  color: white;
  background-color: black;
  padding: 50px 0;
}

main {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100vw;
  overflow: hidden;
}

main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../public/img/background2.jpg'); /* Substitua pelo caminho da sua imagem */
  z-index: 1; /* Certifique-se de que a imagem com efeito sepia fique sobreposta à camada roxa */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

main::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 0, 49, 0.5); /* Cor roxa com opacidade */
  backdrop-filter: sepia(9) brightness(0.3); /* Aplica o efeito de desfoque */
  z-index: 2; /* Garante que a camada roxa fique sobreposta à imagem com efeito sepia */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

.font-tiny {
  font-size: calc(var(--font-size) - 4px);
}

.font-small {
  font-size: var(--font-size - 3px);
}

.font-medium {
  font-size: var(--font-size);
}

.font-big {
  font-size: calc(var(--font-size) + 6px);
}

.font-large {
  font-size: calc(var(--font-size) + 10px);
}

.font-xlarge {
  font-size: calc(var(--font-size) + 16px);
}

.font-xxlarge {
  font-size: calc(var(--font-size) + 24px);
}
